*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui;
    background-color: cadetblue;
    color: white;
}
.crud{
    width: 75%;
    margin: auto;
}
.header{
        margin: 10px 0px;
        font-size: 17px;
        text-align: center;
        text-transform: uppercase;
}
.cruds{
    font-weight: 900;
    font-size: 21px;
}   
input{
    width: 100%;
    /* height: 30px; */
    margin: 5px 0px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color:rgb(39, 83, 85) ;
    color: white;
}  
input:focus{
background-color:rgb(21, 41, 43) ; 
transform: scale(1.1); 
}
.prices input{
    width: 20%;
}
#total{
    background-color: #8f6837;
    padding: 6px 6px;
    border-radius: 4px;
}
#total::before{
    content: "total:";
}
button{
    width: 100%;
    padding: 10px;
    /* height: 30px; */
    border: none;
    cursor: pointer;
    background-color: #8f6837;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(151, 123, 87);
    letter-spacing: 1px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}
.buttons button{
    width: 46%; 
}
#deleteAll{
    margin: 10px auto;
}
table{
    width: 100%;
    margin: 15px 0px;
    text-align: center;
}
 table th {
    text-transform: uppercase;
}
th,td{
    padding: 5px 0px;
}

@media(max-width:776px){
    body {
        font-size: 10px;
    }
}
@media(max-width:600px){
    body {
        font-size: 6.5px;
    }
    .header{
        margin: 10px 0px;
        font-size: 14px;
    }  
    .cruds{
        font-size: 19px;
    } 
    button{
        font-size: 9px;
    }    
}